<!DOCTYPE html>
<html>
<head>
	<title>stick!</title>
		<link rel="stylesheet" type="text/css" href="css/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.js"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.js"></script>
		<link href="https://unpkg.com/ionicons@4.4.2/dist/css/ionicons.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<div id="app">
		<div class="">
				<i-input v-model="input" class="input" type="textarea" :rows="6" placeholder="你想stick些什么？" />
		</div>
	 <i-button type="success" long id="submitButton" @click="stick">STICK!</i-button>
	 <div class="tips">
		 <Card style="width:800px" class="tip-items clearfix" v-for="item in tips"  :key="item.id" v-model="tips">
			 <div style="text-align:center">
					 <h4>{{item.content}}</h4>
					 <i-button :size="buttonSize" icon="ios-closed-captioning" type="error" shape="circle" class="deleteButton" :id="item.id" @click="deleteTip"></i-button>
			 </div>
	 </Card>
	 </div>
		<br>
	</div>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript">
		var app = new Vue({
	  		el: '#app',
	  		data: {
	   			tips: [
					],
	   			input:''
	  		},
				created:function(){
					var that = this;
					$.ajax({
										url:"http://localhost:8000/get",
										type:'GET',
										dataType:'JSON',
										success:function(result){
												console.log(result);
												if(result!==false){
														that.$Message.success("操作成功");
														app.tips = result;
														console.log(app);
												}else{
														that.$Message.error(result.message);
												}
										},
										error:function(xhr,textStatus){
												that.$Message.error("连接服务器失败");
										}
								})
				},
				methods:{
					stick:function(){
						var that = this;
						$.ajax({
                			url:"http://localhost:8000/insert",
                			type:'POST',
											data:{data:this.input},
                			dataType:'Text',
                			success:function(result){
                    			console.log(result);
                    			if(result!==false){
                        			that.$Message.success("操作成功");
                        			this.tips = result;
                    			}else{
                        			that.$Message.error(result.message);
                    			}
                			},
                			error:function(xhr,textStatus){
                    			that.$Message.error("连接服务器失败");
                			}
            			})
					},
					deleteTip:function(event){
						var that = this;
						var id = event.target.id?event.target.id:event.target.parentNode.id;
						console.log(id);
						$.ajax({
											url:"http://localhost:8000/delete",
											data:{data:id},
											type:'POST',
											dataType:'JSON',
											success:function(result){
													console.log(result);
													if(result!==false){
															that.$Message.success("操作成功");
															this.tips = result;
													}else{
															that.$Message.error(result.message);
													}
											},
											error:function(xhr,textStatus){
													that.$Message.error("连接服务器失败");
											}
								})
					}
				}
		})
	</script>
</body>

</html>
