<!DOCTYPE html>
<html>
<head>
	<title>stick!</title>
		<link rel="stylesheet" type="text/css" href="css/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.js"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.js"></script>
		<link href="https://unpkg.com/ionicons@4.4.2/dist/css/ionicons.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<div id="app">
		<div class="">
				<i-input v-model="input" class="input" type="textarea" :rows="6" placeholder="你想stick些什么？" />
		</div>
	 <i-button type="success" long id="submitButton">STICK!</i-button>
	 <div class="tips">
		 <Card style="width:800px" class="tip-items clearfix" v-for="item in tips">
			 <div style="text-align:center">
					 <h4>{{item.content}}</h4>
					 <i-button :size="buttonSize" icon="ios-closed-captioning" type="error" shape="circle" class="deleteButton"></i-button>
			 </div>
	 </Card>
	 </div>
		<br>
	</div>
</body>
<script type="text/javascript">
	var app = new Vue({
  		el: '#app',
  		data: {
   			tips: [
					{content:'P标签是默认是自动换行的，因此设置好宽度之后，能够较好的实现效果，但是最近的项目中发现，使用ajax加载数据之后，p标签内的内容没有换行，导致布局错乱，于是尝试着使用换行样式，虽然解决了问题，但是并没有发现本质原因，本质在于，我当时获取的数据是一长串的数字，浏览器应该是对数字和英文单词处理方式相近，不会截断。 先给出各种方式，再具体介绍每一个属性。'},
					{content:'fdsafdsafdsaf'},
					{content:'fdsafdsafdsaf'}
				],
   			input:''
  		},
			methods:{
				stick:function(){
					console.log(this.input);
				}
			}
	})
</script>
</html>
